<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872102681035-ng732dsg3nml9rk8sb5lak50a80a633n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872102681035-ng732dsg3nml9rk8sb5lak50a80a633n</string>
	<key>API_KEY</key>
	<string>AIzaSyDHzIZP2hGjwP4Ep6YUWZie94RZ8hcBXxg</string>
	<key>GCM_SENDER_ID</key>
	<string>872102681035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nita.praiser</string>
	<key>PROJECT_ID</key>
	<string>praiser-b1ce5</string>
	<key>STORAGE_BUCKET</key>
	<string>praiser-b1ce5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872102681035:ios:5f714e762bf7c411abbe4e</string>
	<key>DATABASE_URL</key>
	<string>https://praiser-b1ce5.firebaseio.com</string>
</dict>
</plist>